* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', cursive; /* Arcade Font */
    overflow-x: hidden;
    background-color: #1e1e1e;
    color: #FFFFFF;
}

.arcade-section {
    padding: 20px;
}

.arcade-section img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.arcade-section div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .arcade-section div {
        flex-direction: column;
        align-items: center;
    }

    .arcade-section img {
        margin-bottom: 20px;
    }
}

#aboutSection {
    background-color: #ff5555;
}


#newsSection {
    background-color: #228B22;
}

#contactSection {
    background-color: #007BFF;
}

#publicationSection {
    background-color: #ffaa00;
}

#cvSection {
    background-color: #ff55ff;
}

